@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
 background: #FFF;
 color: #555;
 font-family: monospace;
 font-size: 18px;
 margin: 0;
 overflow: hidden;
 }
 img {
 display: block;
 width: 120vw;
 height: 120vh;
 z-index: 2;
 transform: translate(-10vw, -10vh)
}


.container {
 margin: 0;
 max-width: 100%;
 padding: 0px;
 position: relative;
 }
.container--offset {
 margin-left: 0;
 }
.scene {
 margin: 0;
 padding: 0;
 }
/* .button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.button:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
.button:before {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.button:hover:after, button:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
} */
.button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  color: #081866;
}
.button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #081866;
  /* border-image: linear-gradient (45deg, #0ac8f8, #081866); */
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.button:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
.button:before {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.button:hover:after, button:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.over {
  z-index: 4;
  margin-top: 600px;
  position: absolute;
  width: 100vw;
  align-content: center;
}
.center {
  text-align: center;
  width: 100vw;
}
p {
  margin-top: 200px;
  font-size: 70px;
  font-family: 'Ruda', Sans-Serif;
  z-index: 4;
  position: absolute;
  color: #fdfdfd;
  text-shadow: -1px 0 #081866, 0 1px #081866, 1px 0 #081866, 0 -1px #081866;
  letter-spacing: 3;
  font-weight: bold;
  /* text-stroke: 1.00px; */
}
.social-container {
  width: 400px;
  margin: 1vh 1vw;
  position: absolute;
  z-index: 6;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #0ac8f8, #081866);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #0ac8f8;
  background: -webkit-linear-gradient(45deg, #0ac8f8, #081866);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}