@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
 background: #fff;
 color: #2f2f2f;
 font-family: 'Roboto Slab', serif;
 font-family: 'Ruda', sans-serif;
 font-size: 18px;
 margin-top: 100px;
 overflow-x: hidden;
 margin-left: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 }
 body h1 {
	 font-family: 'Roboto Slab', serif;
 }
 body h2 {
	 font-family: 'Ruda', sans-serif;
 }
::-webkit-scrollbar { 
    display: none; 
}
#wrapper {
	margin-right: auto;
	margin-left: auto;
}
.nav {
	display: block;
	width: 100%;
	height: 100px;
	background: #FFF;
	border: none;
	position: fixed;
	margin-right: 15px;
	overflow: visible;
	top: 0px;
	z-index: 11;
	border-bottom-style: solid;
	border-bottom-color: #2f2f2f;
}
.nav a {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  width: 130px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
}
.nav a svg {
  position: absolute;
  top: 0;
  left: 0;
}
.nav a svg rect {
  stroke: #000;
  stroke-width: 3;
  stroke-dasharray: 322, 0;
  stroke-dashoffset: 0;
  transition: all 350ms ease-out;
}
.nav a:hover {
  color: #39c8fa;
}
.nav a:hover svg rect {
  stroke: #39c8fa;
  stroke-width: 5;
  stroke-dasharray: 110, 312;
  stroke-dashoffset: 227;
}
.nav a:active{
  font-weight: 600;
}
.nav ul {
	position: absolute;
	list-style: none;
	top: 1px;
	right: 5vw;
	transform: translate(0px, 5px);
}
.nav li {
	display: inline;
}
.logo {
	position: fixed;
	z-index: 12;
/*	top: 5;
	left: 10;*/
	transform: translate(80px,-170px)
}
footer {
  margin: 0 auto;
  display: block;
  text-align:center;
  justify-content: center;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #222;
  color: #dfdfdf;
  width: 100%;
  height: 200px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 3px;
  border-style: solid;
  border-image: linear-gradient(90deg, #0ac8f8, #081866) 5;
  padding-top: 3%;
}
footer h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
}
footer h2 {
	font-family: 'Ruda', sans-serif;
}
.social-container {
  width: 250px;
  position: absolute;
  z-index: 6;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fdfdfd;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #0ac8f8, #081866);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  transform: scale(2.2);
  color: #0ac8f8;
  background: -webkit-linear-gradient(45deg, #0ac8f8, #081866);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
p {
	font-family: 'Ruda', sans-serif;
}